:host {
  display: block;

  .choices {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .group {
      display: flex;
      gap: 10px;
    }
  }
}