<jbr-app-shell-layout>

  <ng-container jbr-app-shell-header-content>
    <div class="controls">
      <div class="indicator" [ngClass]="{navigating: routeEventHandler.navigating}">
        <p>Navigating... </p>
      </div>
      <button mat-raised-button (click)="outputAscending = !outputAscending">
        Order
        <mat-icon iconPositionEnd [svgIcon]="outputAscending ? 'expand_more' : 'expand_less'"></mat-icon>
      </button>
      <button mat-raised-button (click)="resetFilters()">Reset filters</button>
      <button mat-raised-button (click)="clearOutput()">Clear output</button>
    </div>
  </ng-container>

  <ng-container>
    <div class="content">
      <div class="left">
        <div class="settings">
          <app-settings-panel></app-settings-panel>
          <mat-divider></mat-divider>
        </div>
        <div class="routes">
          <router-outlet></router-outlet>
        </div>
      </div>

      <div class="right" [ngClass]="outputAscending ? 'ascending' : 'descending'">
        <logging-output></logging-output>
      </div>
    </div>
  </ng-container>
</jbr-app-shell-layout>
