:host {
  display: block;
  width: 100%;
  height: 100%;

  --jbr-app-shell-content-margin: 0;
  --jbr-app-shell-large-content-margin: 0;

  .controls {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;

    --mat-select-enabled-trigger-text-color: var(--mat-toolbar-container-text-color);
    --mat-select-placeholder-text-color: var(--mat-toolbar-container-text-color);
    --mat-select-enabled-arrow-color: var(--mat-toolbar-container-text-color);
    --mat-select-focused-arrow-color: var(--mat-toolbar-container-text-color);
    --mdc-outlined-text-field-outline-color: var(--mat-toolbar-container-text-color);
    --mdc-outlined-text-field-hover-outline-color: var(--mat-toolbar-container-text-color);
    --mdc-outlined-text-field-hover-label-text-color: var(--mat-toolbar-container-text-color);
    --mdc-outlined-text-field-label-text-color: var(--mat-toolbar-container-text-color);
    --mdc-outlined-text-field-caret-color: var(--mat-toolbar-container-text-color);
    --mdc-outlined-text-field-focus-outline-color: var(--mat-toolbar-container-text-color);
    --mdc-outlined-text-field-focus-label-text-color: var(--mat-toolbar-container-text-color);

    --mdc-protected-button-label-text-color: var(--mat-toolbar-container-text-color);
    --mdc-protected-button-container-color: transparent;

    .indicator {
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &.navigating {
        opacity: 1;
      }
    }
  }

  jbr-app-shell-layout::ng-deep {

    .content-container {
      overflow: hidden;

      .content {
        height: 100%;
      }
    }
  }

  .content {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      flex: 0;
      min-width: 350px;
      height: 100%;

      .settings {
        flex: 0;
        padding: 25px 25px 0;

        app-settings-panel {
          margin-bottom: 20px;
        }
      }

      .routes {
        flex: 1;
        overflow: scroll;
        padding: 25px
      }
    }

    .right {
      flex: 1;
      overflow: scroll;
      padding: 25px;
      border-left: solid 1px var(--mat-divider-color);

      &.descending {
        --output-list-direction: column-reverse;
      }
    }
  }
}
